body {
    background: black;
}

#arena {
    background: black;
    height: 600px;
    width: 1600px;
    position: relative;
}

#welcome-screen {
    background: black;
    height: 600px;
    width: 100%;
    position: relative;
    color: white;
    text-align: center
}

#player1 {
    height: 24px;
    width: 24px;
    bottom: 180px;
    left: 200px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.8s linear;
}

#player1Weapon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: -20px;
    left: 8px;
    position: absolute;
    background-color: #E69F00;
    transform: rotate(0deg);
    transition: transform 0.8s linear;
}

#player2 {
    height: 24px;
    width: 24px;
    bottom: 180px;
    left: 1400px;
    background-color: #CC79A7;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.8s linear;
}

#player2Weapon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: -20px;
    left: 8px;
    position: absolute;
    background-color: #D55E00;
    transform: rotate(0deg);
    transition: transform 0.8s linear;
}

#kills-and-leaderboard {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: blue;
    overflow: hidden;
    overflow-x: hidden;
}

#kills-and-leaderboard > div {
    background-color: #89cff0;
    width: 600px;
    margin: 10px;
    text-align: center;
    line-height: 300px;
    font-size: 25px;
    overflow: hidden;
    overflow-x: hidden;
}

.buttons {
    background-color: orange;
    border: 1px solid yellow;
    width: 120px;
    color: white;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    display: block;
}

#fight {
    background: red;
    color: yellow
}