body {
    background: black;
    height: 100%
}

#arena {
    background: black;
    height: 600px;
    width: 1600px;
    position: relative;
}

#welcome-screen {
    background: black;
    height: 600px;
    width: 100%;
    position: relative;
    color: white;
    text-align: center;    
    display: none
}

#player1 {
    height: 24px;
    width: 24px;
    bottom: 180px;
    left: 200px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.8s linear;
}

#player1Weapon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: -20px;
    left: 8px;
    position: absolute;
    background-color: #E69F00;
    transform: rotate(0deg);
    transition: transform 0.8s linear;
}

#player2 {
    height: 24px;
    width: 24px;
    bottom: 180px;
    left: 1400px;
    background-color: #CC79A7;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.8s linear;
}

#player2Weapon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: -20px;
    left: 8px;
    position: absolute;
    background-color: #D55E00;
    transform: rotate(0deg);
    transition: transform 0.8s linear;
}

#kills-and-leaderboard {
    display: flex;
    background-color: blue;
    overflow: auto;
    overflow-x: auto;
    top: 0;
    bottom: 0;
    left: 0;
    height: 300px
}

#kills-and-leaderboard > div {
    background-color: #89cff0;
    width: 600px;
    margin: 10px;
    text-align: center;
    font-size: 25px;
    overflow: auto;
    overflow-x: auto;
    }
#kills-and-leaderboard > div::-webkit-scrollbar {
    display: block;
    background: #89cff0;
    }

#kills-and-leaderboard > div::-webkit-scrollbar-thumb {
    background: black;
}
#kills-and-leaderboard > div::-webkit-scrollbar-track-piece:start {
    margin-top: 37px;
}




.buttons {
    background-color: orange;
    border: 1px solid yellow;
    width: 120px;
    color: white;
    font-size: 16px;
    padding: 9px;
    text-align: center;
    display: block;
    border-radius: 5px;
    margin: 5px
}

#button-list{
    text-align: center
}

#fight {
    background: red;
    color: yellow
}

#gladiator{
    background: black;
    height: 600px;
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
}

.input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    margin: 5px;
}

.submit {
    background-color: blue;
    border-radius: 5px;
    color: yellow;
}

.oneKill {
    background-color: red;
    border: 1px solid yellow;
    width: auto;
    color: white;
    font-size: 16px;
    padding: 9px;
    text-align: center;
    display: block;
    border-radius: 5px;
    margin: 5px
}

.oneGlad {
    background-color: green;
    border: 1px solid yellow;
    width: auto;
    color: black;
    font-size: 30px;
    padding: 9px;
    text-align: center;
    display: block;
    border-radius: 5px;
    margin: 5px;
}

.oneGlad:first-of-type {
    margin-top:40px
}

.oneKill:first-of-type {
    margin-top:40px
}

.header {
    background-color: grey;
    border: 1px solid black;
    width: 533px;
    color: white;
    font-size: 30px;
    text-align: center;
    display: block;
    position: fixed;
    font-family: OCR A Std, monospace;
    font-weight: 900
}
